/* HEADER STYLE */

#portfolioHeader {
	display: flex;
	font: 16px/1.4em "Jura","sans-serif";
	margin-top: 30px;
}

#name {
	margin: 17px 10px 10px 10px;
}

#mainNavigation {
	margin-left: auto;
}

#top_name:hover {
	text-decoration: none;
	color: #000000;
}