/* FOOTER STYLE */

footer {
	width: 929px;
	margin: 30px auto 0;
	font-size: 12px;
	display: block;
}
#copyright {
	text-align: center;
	height: 15px;
	padding: 5px 0;
	font-size: 10px;
}
#social_links{
	margin: 0 auto;
	display: block;
	height: 30px;
	width: 150px;
} 
#social_links span a {
	margin-right: 2px;
}